# Next.js Environment Variables
NEXT_PUBLIC_HOST_BACKEND=http://localhost:3000/api
NEXT_PUBLIC_HOST_WEBSOCKET=ws://localhost:3000

# Aries Framework Configuration
AGENT_ENDPOINT=
AGENT_WALLET_KEY=Animo
AGENT_PUBLIC_DID_SEED=

# Development settings
NODE_ENV=development